In [1]:
import os
import pandas as pd
import requests
import xlrd
import matplotlib as plt
from datetime import datetime, date, timedelta

In [2]:
#https://ourworldindata.org/coronavirus-source-data
total_cases = 'https://covid.ourworldindata.org/data/ecdc/total_cases.csv'
total_deaths = 'https://covid.ourworldindata.org/data/ecdc/total_deaths.csv'
new_confirmed_cases = 'https://covid.ourworldindata.org/data/ecdc/new_cases.csv'
new_deaths = 'https://covid.ourworldindata.org/data/ecdc/new_deaths.csv'
full_data = 'https://covid.ourworldindata.org/data/full_data.csv'

In [6]:
current_date = date.today()
formatted_date = current_date.strftime("%Y-%m-%d")
formatted_date

'2020-03-22'

In [7]:
covid_data_url = "https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-"+formatted_date+".xlsx"
covid_data_url

'https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-03-22.xlsx'

In [8]:
df_xls_data = pd.read_excel(covid_data_url)
df_xls_data.to_excel('data/COVID-19-geographic-disbtribution-worldwide.xlsx', index=False)

In [9]:
df_xls_data.head()

     DateRep  Day  Month  Year  Cases  Deaths Countries and territories GeoId
0 2020-03-22   22      3  2020      0       0               Afghanistan    AF
1 2020-03-21   21      3  2020      2       0               Afghanistan    AF
2 2020-03-20   20      3  2020      0       0               Afghanistan    AF
3 2020-03-19   19      3  2020      0       0               Afghanistan    AF
4 2020-03-18   18      3  2020      1       0               Afghanistan    AF

In [33]:
total_cases_by_date = df_xls_data[['DateRep', 'Cases']].groupby('DateRep').sum()
total_cases_by_date.sort_values(by='DateRep', ascending=False)

            Cases
DateRep
2020-03-20  29222
2020-03-19  18345
2020-03-18  14750
2020-03-17  12745
2020-03-16  16051
...           ...
2020-01-04      0
2020-01-03     17
2020-01-02      0
2020-01-01      0
2019-12-31     27

[81 rows x 1 columns]

In [34]:
total_cases = df_xls_data['Cases'].sum()
total_cases

242476

In [35]:
total_deaths = df_xls_data['Deaths'].sum()
total_deaths

9885

In [12]:
df_total_confirmed_cases = pd.read_csv(total_confirmed_cases)
df_total_confirmed_cases.to_csv('data/total_cases.csv')

In [13]:
df_total_deaths = pd.read_csv(total_deaths)
df_total_deaths.to_csv('data/total_deaths.csv')

In [14]:
df_new_confirmed_cases = pd.read_csv(new_confirmed_cases)
df_new_confirmed_cases.to_csv('data/new_cases.csv')

In [15]:
df_new_deaths = pd.read_csv(new_deaths)
df_new_deaths.to_csv('data/new_deaths.csv')

In [3]:
df_full_data = pd.read_csv(full_data)
df_full_data.to_csv('data/full_data.csv')

In [4]:
covid_df = pd.read_csv('data/full_data.csv')

In [5]:
cleandf = covid_df.fillna(0)
data_df = cleandf[['date', 'location', 'new_cases', 'new_deaths', 'total_cases', 'total_deaths']]
data_df

,date,location,new_cases,new_deaths,total_cases,total_deaths
0,2020-02-25,Afghanistan,0.0,0.0,1,0.0
1,2020-02-26,Afghanistan,0.0,0.0,1,0.0
2,2020-02-27,Afghanistan,0.0,0.0,1,0.0
3,2020-02-28,Afghanistan,0.0,0.0,1,0.0
4,2020-02-29,Afghanistan,0.0,0.0,1,0.0
...,...,...,...,...,...,...
2862,2020-03-13,World,7488.0,338.0,132758,4956.0
2863,2020-03-14,World,9761.0,433.0,142534,5392.0
2864,2020-03-15,World,10967.0,343.0,153517,5735.0
2865,2020-03-16,World,13971.0,855.0,167506,6606.0
2866,2020-03-17,World,11594.0,819.0,179112,7426.0

In [ ]:
maxdate = max(cleandf['date'])
maxdate

In [ ]:
filter_current_data = cleandf[(cleandf['date']==maxdate) & (cleandf['location']!='World')]
filter_current_data.sort_values(by=['total_cases'], ascending=False).head(10)

In [ ]:
#df_new_cases = cleandf[['date','location', 'new_cases']]
df_total = cleandf[cleandf['location']!='World'].groupby('date')
df_total_by_date = df_total.sum()
df_total_by_date