In [70]:
import os
import pandas as pd
import requests
import xlrd
import matplotlib.pyplot as plt
from datetime import datetime, date, timedelta

In [71]:
total_cases = 'https://covid.ourworldindata.org/data/ecdc/total_cases.csv'
total_cases = pd.read_csv(total_cases)
total_cases.to_csv('data/total_cases.csv')

In [72]:
df_total_cases = pd.read_csv('data/total_cases.csv')
df_total_cases.fillna(0)

,Unnamed: 0,date,World,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,...,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Zambia
0,0,2019-12-31,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2020-01-01,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2020-01-02,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2020-01-03,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2020-01-04,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,76,2020-03-16,167414,16.0,42.0,48.0,5.0,0.0,56.0,30.0,...,3.0,86.0,1391,3774,8.0,6.0,1.0,15.0,57.0,0.0
77,77,2020-03-17,180159,21.0,51.0,60.0,14.0,0.0,65.0,52.0,...,5.0,98.0,1543,4661,29.0,8.0,1.0,33.0,61.0,0.0
78,78,2020-03-18,194909,22.0,55.0,60.0,14.0,0.0,79.0,78.0,...,14.0,113.0,1950,6427,50.0,16.0,1.0,33.0,61.0,0.0
79,79,2020-03-19,213254,22.0,59.0,73.0,53.0,0.0,97.0,115.0,...,19.0,113.0,2630,9415,79.0,23.0,1.0,33.0,76.0,2.0
80,80,2020-03-20,242476,22.0,70.0,82.0,75.0,0.0,128.0,122.0,...,26.0,140.0,3277,14250,94.0,23.0,13.0,33.0,85.0,2.0

In [86]:
world_total_cases = df_total_cases[['date', 'World']]
world_total_cases = world_total_cases.rename(columns={"World":"total_cases"})
world_total_cases

          date  total_cases
0   2019-12-31           27
1   2020-01-01           27
2   2020-01-02           27
3   2020-01-03           44
4   2020-01-04           44
..         ...          ...
76  2020-03-16       167414
77  2020-03-17       180159
78  2020-03-18       194909
79  2020-03-19       213254
80  2020-03-20       242476

[81 rows x 2 columns]

In [84]:
"""mindate = min(world_data['date'])
maxdate = min(world_data['date'])

x_axis = world_data['date'].to_numpy()
y_axis = world_data['World'].to_numpy()
plt.figure(figsize=(15,8))
plt.plot(x_axis, y_axis, marker='d')
plt.xticks(rotation=90, horizontalalignment='center', fontweight='light', fontsize='large')
plt.title('Total COVID-19 Cases per Day', fontweight='bold', fontsize='x-large')
plt.ylabel('Total Cases', fontweight='bold', fontsize='large')
plt.savefig('images/total-cases-covid-19.png')"""

"mindate = min(world_data['date'])\nmaxdate = min(world_data['date'])\n\nx_axis = world_data['date'].to_numpy()\ny_axis = world_data['World'].to_numpy()\nplt.figure(figsize=(15,8))\nplt.plot(x_axis, y_axis, marker='d')\nplt.xticks(rotation=90, horizontalalignment='center', fontweight='light', fontsize='large')\nplt.title('Total COVID-19 Cases per Day', fontweight='bold', fontsize='x-large')\nplt.ylabel('Total Cases', fontweight='bold', fontsize='large')\nplt.savefig('images/total-cases-covid-19.png')"

In [75]:
total_deaths = 'https://covid.ourworldindata.org/data/ecdc/total_deaths.csv'
total_deaths = pd.read_csv(total_deaths)
total_deaths.to_csv('data/total_deaths.csv')

In [76]:
df_total_deaths = pd.read_csv('data/total_deaths.csv')
df_total_deaths.fillna(0)

,Unnamed: 0,date,World,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,...,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Zambia
0,0,2019-12-31,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2020-01-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2020-01-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2020-01-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2020-01-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,76,2020-03-16,6507,0.0,1.0,4.0,0.0,0.0,2.0,0.0,...,0.0,0.0,35,69,0.0,0.0,0.0,0.0,0.0,0.0
77,77,2020-03-17,7103,0.0,1.0,4.0,0.0,0.0,2.0,0.0,...,0.0,0.0,55,85,0.0,0.0,0.0,0.0,0.0,0.0
78,78,2020-03-18,7873,0.0,1.0,5.0,0.0,0.0,2.0,0.0,...,0.0,0.0,60,108,0.0,0.0,0.0,0.0,0.0,0.0
79,79,2020-03-19,8843,0.0,2.0,6.0,0.0,0.0,2.0,0.0,...,2.0,0.0,103,150,0.0,0.0,0.0,0.0,0.0,0.0
80,80,2020-03-20,9885,0.0,2.0,7.0,0.0,0.0,3.0,0.0,...,2.0,0.0,144,150,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
world_death_cases = df_total_deaths[['date', 'World']]
world_death_cases = world_death_cases.rename(columns={"World":"total_deaths"})
world_death_cases.head()

         date  total_deaths
0  2019-12-31             0
1  2020-01-01             0
2  2020-01-02             0
3  2020-01-03             0
4  2020-01-04             0

In [89]:
world_total_and_death = world_total_cases.merge(world_death_cases, how="inner", on="date")
world_total_and_death

          date  total_cases  total_deaths
0   2019-12-31           27             0
1   2020-01-01           27             0
2   2020-01-02           27             0
3   2020-01-03           44             0
4   2020-01-04           44             0
..         ...          ...           ...
76  2020-03-16       167414          6507
77  2020-03-17       180159          7103
78  2020-03-18       194909          7873
79  2020-03-19       213254          8843
80  2020-03-20       242476          9885

[81 rows x 3 columns]

In [90]:
new_cases = 'https://covid.ourworldindata.org/data/ecdc/new_cases.csv'
new_cases = pd.read_csv(new_cases)
new_cases.to_csv('data/new_cases.csv')

In [92]:
df_new_cases = pd.read_csv('data/new_cases.csv')
df_new_cases.fillna(0)

,Unnamed: 0,date,World,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,...,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Zambia
0,0,2019-12-31,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2020-01-03,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,76,2020-03-16,16051.0,6.0,4.0,11.0,3.0,0.0,11.0,10.0,...,0.0,1.0,251.0,823.0,2.0,6.0,0.0,5.0,4.0,0.0
77,77,2020-03-17,12745.0,5.0,9.0,12.0,9.0,0.0,9.0,22.0,...,2.0,12.0,152.0,887.0,21.0,2.0,0.0,18.0,4.0,0.0
78,78,2020-03-18,14750.0,1.0,4.0,0.0,0.0,0.0,14.0,26.0,...,9.0,15.0,407.0,1766.0,21.0,8.0,0.0,0.0,0.0,0.0
79,79,2020-03-19,18345.0,0.0,4.0,13.0,39.0,0.0,18.0,37.0,...,5.0,0.0,680.0,2988.0,29.0,7.0,0.0,0.0,15.0,2.0
80,80,2020-03-20,29222.0,0.0,11.0,9.0,22.0,0.0,31.0,7.0,...,7.0,27.0,647.0,4835.0,15.0,0.0,12.0,0.0,9.0,0.0